# Development requirements such as testing and documentation building

# FOR TESTING
pytest

# FOR DOCUMENTATION
sphinx > 3
numpy
pandas
rasterio
numpydoc >= 0.9
nbsphinx
sphinx_markdown_tables
sphinx_gallery
sphinx_rtd_theme
sphinx_copybutton
sphinx_automodapi
sphinx_numfig
pypandoc

# FOR EXAMPLES
pooch<1.5.0

# FOR RELEASING TO PYPI
twine