# Optional dependencies

gempy>=2.3
owslib
geopy
matplotlib
PyPDF2
tqdm
scikit-image
scikit-learn
xmltodict
scipy
mplstereonet
rioxarray
pytest
numpy
pandas
shapely
affine
owslib
pooch<1.5.0
pytest-cov
pyqt5