# rasterio Must be installed with conda install -c conda-forge rasterio
# geopandas Must be installed with conda install -c conda-forge geopandas
pytest
nbsphinx
sphinx_markdown_tables
sphinx_copybutton
