# rasterio Must be installed with conda install -c conda-forge rasterio
# geopandas Must be installed with conda install -c conda-forge geopandas
numpy
scooby
pandas<=1.0.5
typing
shapely
matplotlib
scikit-image
xmltodict
mplstereonet
owslib
requests
sklearn
descartes
PyPDF2
tqdm
pytest
pyproj
geopy
scipy
gempy
